/* Qt-Help-like CSS for Doxygen */
body
{
  font: 14px/1.2 DejaVu Sans,sans-serif;
}

p {
  margin-left: 0.5em;
}

body
{
  color:#000;
  background:#FFF;
}

a:link
{
  color:#00732F;
  text-decoration:none;
}

a:hover
{
  color:#4C0033;
  text-decoration:underline;
}

table
{
  border-collapse:collapse;
  width:100%;
}

table.params tbody tr td.paramname {
  padding-right:1em;
}

table.params tbody tr td {
  padding-bottom:0.4em;
}

/* Member declarations overview, table */
table.memberdecls {
  background-color: #F6F6F6;
  border: 1px solid #E6E6E6;
  border-collapse: separate;
  border-radius: 7px 7px 7px 7px;
  padding: 0 10px 0 0;
  font-size: 12px;
  max-width: 1400px;
}

/* Member declarations overview, single cell */
table.memberdecls td {
  padding: 2px 0 2px 0;
}

div.image {
  text-align: center;
}

div.title {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}

/* Enum table (and possibly others?) */
div.memdoc dl dd table {
  background-color: #F6F6F6;
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
  font-size: 90%;
}

/* Enum table, cells (constant and description field) */
div.memdoc dl dd table tbody tr td {
  vertical-align: middle;
  padding: 0.25em 0 0.25em 0;
}

/* Enum table, constant */
div.memdoc dl dd table tbody tr td em {
  font-family: monospace;
  font-style: normal;
  padding-left: 1em;
}

div.memdoc dl dd table.params tbody tr td em {
  /* to overwrite the monospace setting above to ruin "\a" (which turns to <em></em>) in parameter description tables */
  font-family: Arial,Geneva,Helvetica,sans-serif;
  font-style: italic;
  padding-left: 0;
}

/* Enum table, description paragraph */
div.memdoc dl dd table tbody tr td p {
  margin: 0;
}

/* Enum table, description paragraph, enum value part */
div.memdoc dl dd table tbody tr td p code {
  margin-right: 2em;
}

h1
{
  font-size:160%;
  text-align:center;
  margin:0 0 .8em;
}

h2
{
  font-size:120%;
  margin:1.6em 0;
}

h3
{
  font-size:100%;
}

h3.version
{
  font-size:90%;
  text-align:center;
}

/* header style */

/* navigation links at the top of each page */
a.headerLink {
  font-size: 14px;
  font-weight: bold;
}

/* various header divs (e.g. navigation links, page header text) */
div.header
{
  margin:1em 0;
  vertical-align:middle;
}

div.header img
{
  vertical-align:middle;
  margin:0 1em 0 6px;
  border:none;
}

/* footer style */
div.footer
{
  margin-top: 4em;
  text-align:right;
  font-size:80%;
}

/* the horizontal lines between sections */
hr
{
  height:0;
  border:none;
  border-top:1px solid #a0a0a0;
  margin:1.8em 0 1.6em;
}

table h2
{
  /*border-top:1px solid #a0a0a0;*/
  padding:1.3em 0 0;
  margin:1.3em 0 .8em;
}

/* adjust the navigation path and headings on the class page for a nested class */
div.navpath
{
  font-size:160%;
  text-align:center;
  margin:0 0 .8em;
  font-weight:700;
}

div.navpath:after
{
  content:" Class Reference";
}

div.navpath + div.contents > h1
{
  display:none;
}

/* specific for the #include box at the top of class pages */
div.contents > p > code
{
  display:block;
  padding:.2em;
  border:#e7e7e7 1px solid;
  background:#f1f1f1;
  color:#000;
}

/* list of members on class pages */
td.memItemLeft,td.memItemRight,td.memTemplItemLeft,td.memTemplItemRight,td.memTemplParams
{
  border:none;
  margin:4px;
  padding:1px 0 0 8px;
}

td.memItemLeft,td.memTemplItemLeft,td.memTemplParams
{
  white-space:nowrap;
}

td.memItemLeft,td.memTemplItemLeft
{
  width:180px;
}

td.memItemRight .el
{
  font-weight:700;
}

/* suppress brief descriptions in the lists at the top of class pages, including for nested classes */
td.mdescLeft,td.mdescRight
{
  display:none;
}

/* member details on class pages */
div.memitem
{
  margin:0 0 2em;
  padding:0;
}

/* function name and signature above documentation entry */
div.memproto
{
  background-color: #F6F6F6;
  border-color: #E6E6E6;
  border-radius: 7px 7px 7px 7px;
  border-style: solid;
  border-width: 1px;
  font: 600 16px/1.2 Arial,FreeSans,sans-serif;
  padding: 3px 5px;
  /*word-spacing: 1px;*/
}

div.memdoc
{
}

table.memname
{
  display:block;
}

table.memname *
{
  display:inline;
}

table.memname tr + tr
{
  white-space:nowrap;
}

table.memname td
{
  white-space:nowrap;
}

td.paramname code
{
  font:inherit;
}

.memtemplate
{
  font-size:80%;
  color:#606060;
  font-weight:400;
  margin-left:3px;
}

.memnav
{
  background-color:#e8eef2;
  border:1px solid #84b0c7;
  text-align:center;
  margin:2px;
  margin-right:15px;
  padding:2px;
}

/* class member list pages */
tr.memlist td
{
  padding:.1em .3em;
  background-color:#eee;
  border-style:solid;
  border-color:#FFF;
  border-width:4px 2px;
}

tr[bgcolor="#f0f0f0"] td
{
  padding:.1em .3em;
  background-color:#eee;
  border-style:solid;
  border-color:#FFF;
  border-width:4px 2px;
}

/* All Classes page */
td.indexkey
{
  padding:1em .25em .2em 0;
  vertical-align:top;
  text-align:right;
  font-weight:700;
  width:180px;
}

td.indexvalue
{
  padding:1em 0 .2em .25em;
  vertical-align:top;
  text-align:left;
}

tr + tr td.indexkey
{
  padding-top:.2em;
}

tr + tr td.indexvalue
{
  padding-top:.2em;
}

/* All Functions and All Variables pages have tabs and no headings; we want headings and no tabs */
div.tabs ul
{
  display:block;
  margin:0;
  padding:0;
  list-style-type:none;
}

div.tabs li
{
  display:none;
  margin:0;
  padding:0;
}

div.tabs li.current
{
  display:block;
  font-size:160%;
  font-weight:700;
  text-align:center;
  margin:0;
}

div.tabs li.current a
{
  color:#000;
}

div.tabs + div.contents
{
  visibility:hidden;
}

div.tabs + div.contents > ul
{
  visibility:visible;
  margin:0;
  padding:0;
  list-style-type:none;
}

div.tabs + div.contents > ul li
{
  margin:.1em 0;
  padding:0 0 0 2em;
  text-indent:-2em;
  font-weight:700;
}

div.tabs + div.contents > ul a
{
  font-weight:400;
}

div.tabs + div.contents h3
{
  display:none;
}

/*
div.tabs > ul > li.current:first-child:after
{
  content:" Functions and Variables";
}
*/

/* Tables using <TABLE>, such as for enumerations */
table.doxtable
{
  width:auto;
}

table.doxtable th
{
  padding:4px 4px 5px;
  border:1px solid #666;
  color:#FFF;
  background-color:#666;
  border-bottom:hidden;
}

table.doxtable td
{
  background-color: #F6F6F6;
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
  font-size: 90%;
}

table.doxtable td + td
{
  text-align:left;
  padding:2px 1em 3px;
}

table.doxtable td + td + td
{
  text-align:left;
  padding:2px 2px 3px;
}

/* see also block in documentation entry */
dl.see
{
}

/* The remaining entries are copied from the default Doxygen CSS. */
dt
{
  font-weight:700;
}

div.multicol
{
  -moz-column-gap:1em;
  -webkit-column-gap:1em;
  -moz-column-count:3;
  -webkit-column-count:3;
}

p.startli,p.startdd,p.starttd
{
  margin-top:2px;
}

p.endli
{
  margin-bottom:0;
}

p.enddd
{
  margin-bottom:4px;
}

p.endtd
{
  margin-bottom:2px;
}

caption
{
  font-weight:700;
}

span.legend
{
  font-size:70%;
  text-align:center;
}

div.qindex,div.navtab
{
  background-color:#e8eef2;
  border:1px solid #84b0c7;
  text-align:center;
  margin:2px;
  padding:2px;
}

div.qindex
{
  width:100%;
  line-height:140%;
}

div.navtab
{
  margin-right:15px;
}

/* @group Link Styling */
a.qindex
{
  font-weight:700;
}

a.qindexHL
{
  font-weight:700;
  background-color:#66c;
  color:#fff;
  border:1px double #9295C2;
}

.contents a.qindexHL:visited
{
  color:#fff;
}

a.code
{
  color:#3030f0;
}

a.codeRef
{
  color:#3030f0;
}

/* @end */
dl.el
{
  margin-left:-1cm;
}

.fragment
{
  font-family:monospace, fixed;
  font-size:105%;
}

pre.fragment
{
  border:1px solid #CCC;
  background-color:#f5f5f5;
  padding:4px 6px;
  margin:4px 8px 4px 2px;
  overflow:auto;
  word-wrap:break-word;
  font-size:9pt;
  line-height:125%;
}

div.ah
{
  background-color:#000;
  font-weight:700;
  color:#fff;
  margin-bottom:3px;
  margin-top:3px;
}

div.groupHeader
{
  margin-left:16px;
  margin-top:12px;
  margin-bottom:6px;
  font-weight:700;
}

div.groupText
{
  margin-left:16px;
  font-style:italic;
}

p.formulaDsp
{
  text-align:center;
}

img.formulaDsp
{
}

img.formulaInl
{
  vertical-align:middle;
}

div.center
{
  text-align:center;
  margin-top:0;
  margin-bottom:0;
  padding:0;
}

div.center img
{
  border:0;
}

/* @group Code Colorization */
span.keyword
{
  color:green;
}

span.keywordtype
{
  color:#604020;
}

span.keywordflow
{
  color:#e08000;
}

span.comment
{
  color:maroon;
}

span.preprocessor
{
  color:#806020;
}

span.stringliteral
{
  color:#002080;
}

span.charliteral
{
  color:teal;
}

span.vhdldigit
{
  color:#f0f;
}

span.vhdlchar
{
  color:#000;
}

span.vhdlkeyword
{
  color:#700070;
}

span.vhdllogic
{
  color:red;
}

/* @end */
.search
{
  color:#039;
  font-weight:700;
}

form.search
{
  margin-bottom:0;
  margin-top:0;
}

input.search
{
  font-size:75%;
  color:navy;
  font-weight:400;
  background-color:#e8eef2;
}

td.tiny
{
  font-size:75%;
}

.dirtab
{
  padding:4px;
  border-collapse:collapse;
  border:1px solid #84b0c7;
}

th.dirtab
{
  background:#e8eef2;
  font-weight:700;
}

/* @end */
